#### applied to a feature that has high cardinality
- this means that it has high number of categories within the feature

In [1]:
import pandas as pd 
import numpy as np

In [3]:
## i'm using the mercedez data here as well
df = pd.read_csv('train.csv',usecols=['X1','X2'])

In [4]:
df.head(10)

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n
5  b   e
6  r   e
7  l  as
8  s  as
9  b  aq

In [6]:
df.shape

(4209, 2)

In [ ]:
df['X1'].value_counts()

In [11]:
### looking at the no of labels for each feature 
for col in df.columns:
    print(col,"has:",df[col].nunique(),'unique labels')

X1 has: 27 unique labels
X2 has: 44 unique labels

In [13]:
### capturing all the labels in X2 with value counts in a dictionary
X2 = df.X2.value_counts().to_dict()

In [14]:
df.X2 = df.X2.map(X2)

In [17]:
X2['at']

6

In [18]:
df # take the first record here for example, it was at. at had a value count of 6, so it got mapped to 6 in the new data

     X1    X2
0     v     6
1     t     4
2     w   137
3     t   137
4     v   137
...  ..   ...
4204  s  1659
4205  o    29
4206  v   153
4207  r    81
4208  r   496

[4209 rows x 2 columns]

In [19]:
X1 = df.X1.value_counts().to_dict()

In [20]:
df.X1 = df.X1.map(X1)

In [21]:
df

       X1    X2
0     408     6
1      31     4
2      52   137
3      31   137
4     408   137
...   ...   ...
4204  598  1659
4205   82    29
4206  408   153
4207  251    81
4208  251   496

[4209 rows x 2 columns]